pipeline/p_extract_frm_azuresql.json
{
	"name": "p_extract_frm_azuresql",
	"properties": {
		"activities": [
			{
				"name": "Fetch Configuration",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Copy Start Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "configurationDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Config",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Fetch Configuration",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Fetch Configuration').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from Source",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().src_object_location}.@{item().src_object_name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AdventureWorks",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dataset_adls",
									"type": "DatasetReference",
									"parameters": {
										"folder": {
											"value": "@item().tgt_location_container_folder",
											"type": "Expression"
										},
										"filename": {
											"value": "@item().tg_file_name",
											"type": "Expression"
										},
										"StartTime": {
											"value": "@pipeline().parameters.StartTime",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy Start Time",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "CopyStartTime",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"StartTime": {
				"type": "string"
			}
		},
		"variables": {
			"CopyStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Data Extraction Component"
		},
		"annotations": []
	}
}