pipeline/StorageEventTrigger.json
{
	"name": "StorageEventTrigger",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filename",
					"value": {
						"value": "@pipeline().parameters.pfilename",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "filefolder",
					"value": {
						"value": "@pipeline().parameters.pfolderpath",
						"type": "Expression"
					}
				}
			},
			{
				"name": "OrchestratorforFile",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "02-Parent",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"BatchName": "Adhoc",
						"FileName": {
							"value": "@variables('filename')",
							"type": "Expression"
						},
						"FolderPath": {
							"value": "@variables('filefolder')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"pfilename": {
				"type": "string"
			},
			"pfolderpath": {
				"type": "string"
			},
			"psize": {
				"type": "string"
			}
		},
		"variables": {
			"filename": {
				"type": "String"
			},
			"filefolder": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Consumers"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-14T15:55:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}